<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" >
        <link rel="stylesheet" href="{% static "css/signin.css" %}"  type="text/css">
        <title>Mobike</title>
    </head>
    <body class="text-center">
        <form class="form-signin" method="POST" action="/usuario">
            {% csrf_token %}
            <img class="mb-4" src="{% static "img/logo_mobike.png" %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Inicio Sesión</h1>
            <label for="inputEmail" class="sr-only">Correo Electronico</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordar datos
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>
    </body>
</html>